.canvas {
    background: url(image/clouds-tile.jpg);
    width: 100px;
    height: 100px;
    position: relative;
    overflow: hidden;
    border: 1px solid black;
    z-index: 0;
}

.plaine {
    position: absolute;
    top: 300px;
    left: 400px;
    overflow: hidden;
    opacity: 1;
    z-index: 100;
}

.rocket {
    position: absolute;
    top: 300px;
    left: -400px;
    overflow: hidden;
    z-index: 10;
}

.explosion {
    position: absolute;
    top: 300px;
    left: -4000px;
    width: 200px;
    height: 200px;
    overflow: hidden;
    opacity: .6;
    z-index: 1000;
}

.explosion.a1 {
    background-position: 0 -400px;
}

.explosion.a2 {
    background-position: -200px -400px;
}

.explosion.a3 {
    background-position: -400px -400px;
}

.explosion.a4 {
    background-position: 0 -600px;
}

.explosion.a5 {
    background-position: -200px -600px;
}

.explosion.a6 {
    background-position: -400px -600px;
}

.explosion.a7 {
    background-position: 0 -800px;
}

.explosion.a8 {
    background-position: -200px -800px;
}

.explosion.a9 {
    background-position: -400px -800px;
}

.enemy {
    position: absolute;
    top: 300px;
    left: 400px;
    overflow: hidden;
    z-index: 200;
}

.enemy.dying {
    animation: rotates 3s infinite;
}

@-webkit-keyframes rotates {
    100% {
        -webkit-transform: rotate(360deg) scale(0.0);
    }
}

/* Standard syntax */
@keyframes rotates {
    100% {
        transform: rotate(360deg) scale(0.0);
    }
}
     /* sprite */
.enemy, .rocket, .plaine, .explosion, .plaineBad .plaineBad3 {
    background-image: url(image/sprite.png);
    background-repeat : no-repeat;
}

.enemy {
    background-position: -5px 0;
    width: 150px;
    height: 107px;
}

.rocket {
    background-position: -240px 0;
    width: 13px;
    height: 216px;
}

.rocket.a1 {
    background-position: -214px 0;
    width: 13px;
    height: 216px;
}

.plaine {
    background-position: 0 -117px;
    width: 200px;
    height: 198px;
}

.plaine.left{
    background-position: -269px 0;
    width: 188px;
    height: 200px;
}

.plaine.right {
    background-position: -458px 0;
    width: 182px;
    height: 200px;
}



.plaineBad {
    background-position: -440px -210px;
    width: 200px;
    height: 156px;
}

.plaineBad3 {
    background-position: -221px -229px;
    width: 200px;
    height: 156px;
}

